<launch>
  <arg name="gpu" default="false"/>
  <arg name="world_file" default="$(find calib_gzb)/worlds/plaza.world" />

  <param name="/use_sim_time" value="true"/>

  <!-- 启动 Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <!-- ================= velodyne robot ================= -->

  <!-- 发布 robot_description -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(find calib_gzb)/urdf/robot.urdf.xacro' gpu:=$(arg gpu)" />

  <!-- 发布 TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- 生成机器人模型 -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_velodyne"
        args="-urdf -param robot_description -model velodyne_robot"
        output="screen" />

  <!-- ================= moving ball ================= -->

  <param name="moving_ball_description"
         command="$(find xacro)/xacro '$(find calib_gzb)/urdf/moving_ball.urdf.xacro'" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_ball"
        args="-urdf -param moving_ball_description -model moving_ball -x 7 -y 0 -z 0.5"
        output="screen" />

  <node name="rviz" pkg="rviz" type="rviz" output="screen"
        args="-d $(find calib_gzb)/rviz/visual.rviz" />
</launch>
